<ul id="container">
  <li><a href="/auth/signup">Sign up</a></li>
  <li> <a href="/auth/login">Login</a></li>
  <li><a href="/main"> Main (requires authentication!)</a></li>
  <li><a href="/private"> Private (requires authentication!)</a></li>
</ul>